
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


*{
    margin: 0px;
    font-family: 'Work Sans';
}


.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.g3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}

.nav_items {
    display: flex;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #424242;
    padding-top: 10px;
}

.nav_item {
    margin: 0 25px;
}

.brand_new {
    font-style: normal;
    text-align: center;
    margin-top: 70px;
}
.brand_new h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    line-height: .3;
}
.height {
    margin-top: 20px;
}

.details {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 100;
    color: gray;
}

.explore_btn {
    font-size: 25px;
    border: none;
    padding: 15px 20px;
    background-color: orange;
    border-radius: 6px;
    margin-top: 40px;
    color: white;
}

.banner_img {
    height: 550px;
    width: 75%;
    margin-top: 50px;
    /* border: 2px solid red; */
}

/* ---------------- feature section css -------------------- */

.features-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 90px 180px;
}

.features-images {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 15px;
    /* border: 2px solid red; */
} 

.feature_image {
    height: 280px;
    width: 280px;
    transition: ease-out .7s;
}

.feature_image:hover {
    transform: scale(1.2); 
}

.feature_list {
    text-align: start;
    padding-left: 40px;
    padding-top: 120px;
} 

.feature_list > h1 {
    font-size: 35px;
    font-weight: 700 !important;
}

.quick_list {
    color: gray;
    font-weight: 200;
}

.features_title {
    color: orange;
}

.feature_list > p {
    font-size: 14px;
    font-weight: 100;
    color: gray;
    line-height: 1.5;
}

/* ---------- Features you will love & enjoy section ------------ */

.love_section {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
    margin: 0px 150px;
}

.architect_img {
    height: 650px;
    text-align: center;
}

.love_enjoy_div {
    border-left: 4px solid orange;
}


.love_enjoy_div h1 {
    padding-left: 14px;
    font-size: 35px;
}

.love_para {
    margin-top: 20px;
    color: gray;
}

.love_details {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 36px;
}

.experienxe_btn {
    font-size: 25px;
    border: none;
    padding: 25px 35px;
    background-color: orange;
    border-radius: 6px;
    margin-top: 40px;
    color: white;
    align-items: center;
}

.experienxes_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translate(0px,-200px);
}

.year {
    font-size: 45px;
    font-weight: 700;
}


/* ----------- Some Facts  section ------------------- */

.facts_section {
    margin: -20px 150px 50px 150px;
}

.facts_title {
    font-size: 40px;
}

.facts_details {
    margin-top: 30px;
    color: gray;
}

.facts_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 60px;
}

.facts_box {
    height: 180px;
    width: 190px;
    border: 1px solid orange;
    border-radius: 9px;
    text-align: center;
}

.icon {
    height: 35px;
    margin-top: 30px;
    margin-bottom: 6px;
}

/* ----------- Our Sponspors section ------------ */

.sponsor_section {
    margin: 90px 150px 60px 150px;
}


.sponsor {
    text-align: center;
}


.sponsor h1 {
    font-size: 35px;
}

.sponsor_details {
    margin-top: 25px;
}

.sponsors_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.sponsors_items {
    height: 150px;
    width: 150px;
}

.sponsors_img {
    height: 35px;
}

/* ------------- footer section ------------- */

.footer {
    text-align: center;
    margin: 190px;
} 

/* ------------- new sample section ------------- */


.sample_section {
    margin: 90px 100px;
}
.sample_lists {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 80px;
}

.sample_items {
    height: 220px;
    width: 160px;
    transition: ease-in-out .9s;
}


.sample_item {
    height: 220px;
    width: 160px;
    padding-top: 50px;
    transition: ease-in-out .9s;
}


.sample_item:hover {
    transform: scale(1.5) rotate(45deg); 
}

.sample_items:hover {
    transform: scale(1.1); 
}

@media screen and (max-width: 576px) {
    .container {
        margin: 0px 35px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_items {
        display: block;
    }

    .brand_new h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        margin-top: 50px;   
    }

    .details {
        font-size: 13px;
        line-height: 1.5;
        font-weight: 100;
        color: gray;
    }

    .explore_btn {
        font-size: 18px;
        border: none;
        padding: 15px 20px;
        background-color: orange;
        border-radius: 6px;
        margin-top: 40px;
        color: white;
    }
    
    .banner_img {
        height: 210px;
        width: 100%;
        margin-top: 50px;
        /* border: 2px solid red; */
    }

    /* ---------------- feature section css -------------------- */

    .features-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 0px;
    }
    
    .features-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .feature_image {
        height: 280px;
        width: 280px;
        text-align: center;
    }

    .feature_list {
        text-align: start;
        padding-left: 0px;
        padding-top: 35px;
        padding-bottom: 40px;
    } 

    .feature_list > h1 {
        font-size: 30px;
        font-weight: 900;
    }

    .feature_list > p {
        font-size: 13px;
        font-weight: thin;
    }

    .love_section {
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
    }
    
    .architect_img {
        height: 450px;
        text-align: center;
        padding-left: 27px;
    }

    .love_enjoy_div {
        border-left: 4px solid orange;
    }
    
    
    .love_enjoy_div h1 {
        font-size: 25px;
    }
    
    .love_para {
        margin-top: 20px;
        color: gray;
    }
    
    .love_details {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 36px;
        font-size: 15px;
    }
    
    .experienxe_btn {
        font-size: 25px;
        border: none;
        padding: 25px 35px;
        background-color: orange;
        border-radius: 6px;
        margin-top: 40px;
        color: white;
        align-items: center;
    }
    
    .experienxes_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        transform:translate(0px, -30px);
        margin-bottom: 20px;
    }
    
    .year {
        font-size: 35px;
        font-weight: 700;
    }

    /* ----------- Some Facts  section ------------------- */

    .facts_section {
        margin: 0px 0px;
    }

    .facts_title {
        font-size: 35px;
    }

    .facts_details {
        margin-top: 25px;
        color: gray;
    }

    .facts_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        margin-top: 60px;
    }

    .facts_box {
        height: 160px;
        width: 160px;
        border: 1px solid orange;
        border-radius: 9px;
        text-align: center;
    }

    .icon {
        margin-top: 30px;
    }

    /*  ----------- Our Sponspors section ------------  */

    .sponsor_section {
        margin: 0px;
        margin-top: 80px;
    }


    .sponsor {
        text-align: center;
    }


    .sponsor h1 {
        font-size: 30px;
    }

    .sponsor_details {
        margin-top: 25px;
    }

    .sponsors_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;
    }

    .sponsors_items {
        height: 80px;
        width: 150px;
    }

    .sponsors_img {
        height: 30px;
    }

    /* ------------- footer section ------------- */

    .footer {
        text-align: center;
        margin: 130px 0px;
        font-size: 13px;
    } 

    /* ------------- new sample section ------------- */


    .sample_section {
        margin: 0px;
        margin-top: 50px;
    }
    .sample_lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        align-items: center;
        margin-top: 80px;
    }

    .sample_items {
        height: 220px;
        width: 160px;
    }


    .sample_item {
        height: 220px;
        width: 160px;
        padding-top: 50px;

    }
    

}


@media screen and (min-width: 577px) and (max-width: 768px) {
    .container {
        margin: 0px 35px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_items {
        display: block;
    }

    .brand_new h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        margin-top: 50px;   
    }

    .details {
        font-size: 13px;
        line-height: 1.5;
        font-weight: 100;
        color: gray;
    }

    .explore_btn {
        font-size: 18px;
        border: none;
        padding: 15px 20px;
        background-color: orange;
        border-radius: 6px;
        margin-top: 40px;
        color: white;
    }
    
    .banner_img {
        height: 210px;
        width: 100%;
        margin-top: 50px;
        /* border: 2px solid red; */
    }

    /* ---------------- feature section css -------------------- */

    .features-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 0px;
    }
    
    .features-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .feature_image {
        height: 280px;
        width: 280px;
        text-align: center;
    }

    .feature_list {
        text-align: start;
        padding-left: 0px;
        padding-top: 35px;
        padding-bottom: 40px;
    } 

    .feature_list > h1 {
        font-size: 30px;
        font-weight: 900;
    }

    .feature_list > p {
        font-size: 13px;
        font-weight: thin;
    }

    .love_section {
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
    }
    
    .architect_img {
        height: 450px;
        text-align: center;
        padding-left: 27px;
    }

    .love_enjoy_div {
        border-left: 4px solid orange;
    }
    
    
    .love_enjoy_div h1 {
        font-size: 25px;
    }
    
    .love_para {
        margin-top: 20px;
        color: gray;
    }
    
    .love_details {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 36px;
        font-size: 15px;
    }
    
    .experienxe_btn {
        font-size: 25px;
        border: none;
        padding: 25px 35px;
        background-color: orange;
        border-radius: 6px;
        margin-top: 40px;
        color: white;
        align-items: center;
    }
    
    .experienxes_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        transform:translate(0px, -30px);
        margin-bottom: 20px;
    }
    
    .year {
        font-size: 35px;
        font-weight: 700;
    }

    /* ----------- Some Facts  section ------------------- */

    .facts_section {
        margin: 0px 0px;
    }

    .facts_title {
        font-size: 35px;
    }

    .facts_details {
        margin-top: 25px;
        color: gray;
    }

    .facts_boxes {
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        margin-top: 60px;
        border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .facts_box {
        height: 160px;
        width: 160px;
        border: 1px solid orange;
        border-radius: 9px;
        text-align: center;
    }

    .icon {
        margin-top: 30px;
    }

    /*  ----------- Our Sponspors section ------------  */

    .sponsor_section {
        margin: 0px;
        margin-top: 80px;
    }


    .sponsor {
        text-align: center;
    }


    .sponsor h1 {
        font-size: 30px;
    }

    .sponsor_details {
        margin-top: 25px;
    }

    .sponsors_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;
    }

    .sponsors_items {
        height: 80px;
        width: 150px;
    }

    .sponsors_img {
        height: 30px;
    }

    /* ------------- footer section ------------- */

    .footer {
        text-align: center;
        margin: 130px 0px;
        font-size: 13px;
    } 

    /* ------------- new sample section ------------- */


    .sample_section {
        margin: 0px;
        margin-top: 50px;
    }
    .sample_lists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0px;
        align-items: center;
        margin-top: 80px;
    }

    .sample_items {
        height: 220px;
        width: 160px;
    }


    .sample_item {
        height: 220px;
        width: 160px;
        padding-top: 50px;

    }
    

}



@media screen and (max-width: 400px) {
    .container {
        margin: 0px 35px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_items {
        display: block;
    }

    .brand_new h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        margin-top: 50px;   
    }

    .details {
        font-size: 13px;
        line-height: 1.5;
        font-weight: 100;
        color: gray;
    }

    .explore_btn {
        font-size: 18px;
        border: none;
        padding: 15px 20px;
        background-color: orange;
        border-radius: 6px;
        margin-top: 40px;
        color: white;
    }
    
    .banner_img {
        height: 210px;
        width: 100%;
        margin-top: 50px;
        /* border: 2px solid red; */
    }

    /* ---------------- feature section css -------------------- */

    .features-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 0px;
    }
    
    .features-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .feature_image {
        height: 240px;
        width: 240px;
        /* text-align: center; */
    }

    .feature_list {
        text-align: start;
        padding-left: 0px;
        padding-top: 35px;
        padding-bottom: 40px;
    } 

    .feature_list > h1 {
        font-size: 30px;
        font-weight: 900;
    }

    .feature_list > p {
        font-size: 13px;
        font-weight: thin;
    }

    .love_section {
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
    }
    
    .architect_img {
        height: 450px;
        text-align: center;
        padding-left: 0px;
    }

    .love_enjoy_div {
        border-left: 4px solid orange;
    }
    
    
    .love_enjoy_div h1 {
        font-size: 25px;
    }
    
    .love_para {
        margin-top: 20px;
        color: gray;
    }
    
    .love_details {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 36px;
        font-size: 15px;
    }
    
    .experienxe_btn {
        font-size: 25px;
        border: none;
        padding: 25px 35px;
        background-color: orange;
        border-radius: 6px;
        margin-top: 40px;
        color: white;
        align-items: center;
    }
    
    .experienxes_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        transform:translate(0px, -30px);
        margin-bottom: 20px;
    }
    
    .year {
        font-size: 35px;
        font-weight: 700;
    }

    /* ----------- Some Facts  section ------------------- */

    .facts_section {
        margin: 0px 0px;
    }

    .facts_title {
        font-size: 35px;
    }

    .facts_details {
        margin-top: 25px;
        color: gray;
    }

    .facts_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        margin-top: 60px;
    }

    .facts_box {
        height: 160px;
        width: 160px;
        border: 1px solid orange;
        border-radius: 9px;
        text-align: center;
    }

    .icon {
        margin-top: 30px;
    }

    /*  ----------- Our Sponspors section ------------  */

    .sponsor_section {
        margin: 0px;
        margin-top: 80px;
    }


    .sponsor {
        text-align: center;
    }


    .sponsor h1 {
        font-size: 30px;
    }

    .sponsor_details {
        margin-top: 25px;
    }

    .sponsors_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;
    }

    .sponsors_items {
        height: 80px;
        width: 150px;
    }

    .sponsors_img {
        height: 30px;
    }

    /* ------------- footer section ------------- */

    .footer {
        text-align: center;
        margin: 130px 0px;
        font-size: 13px;
    } 

    /* ------------- new sample section ------------- */


    .sample_section {
        margin: 0px;
        margin-top: 50px;
    }
    .sample_lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        align-items: center;
        margin-top: 80px;
    }

    .sample_items {
        height: 200px;
        width: 140px;
    }


    .sample_item {
        height: 200px;
        width: 140px;
        padding-top: 50px;

    }
    

}